<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> SearchInFiles Results</title>
        <script type="text/javascript" src="jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="jquery.tablesorter.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <style type="text/css">
            th {text-align: left}
            td.matches_meta {text-align: right}
            #results{ width : 600px  }
        </style>
        <script type="text/javascript">
            tablesorter_options = {
               widgets: ['zebra'],
               // headers: {
               //   3: {sorter: false} }
             }
            $(document).ready(function(){
                $("#results").tablesorter(tablesorter_options);
            });
        </script>
    </head>
    <body>
        <h3>
            SearchInFiles results for product
        </h3>
        <table id="results" class="tablesorter">
            <thead>
                <tr>
                    <th>
                        File
                    </th>
                    <th>
                        Extension
                    </th>
                    <th>
                        Number Of Matches
                    </th>
                    <th>
                        TODO
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\dump.sql">E:\Web projects\new_rugs\dump.sql</a>
                    </td>
                    <td>
                        sql
                    </td>
                    <td class="matches_meta">
                         416
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\pre_test.sql">E:\Web projects\new_rugs\pre_test.sql</a>
                    </td>
                    <td>
                        sql
                    </td>
                    <td class="matches_meta">
                         47
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\post_test.sql">E:\Web projects\new_rugs\post_test.sql</a>
                    </td>
                    <td>
                        sql
                    </td>
                    <td class="matches_meta">
                         47
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\models.py">E:\Web projects\new_rugs\models.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         15
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\controller.py">E:\Web projects\new_rugs\controller.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         8
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\test_add_order.py">E:\Web projects\new_rugs\test_add_order.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         7
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\tags_sorted_by_file">E:\Web projects\new_rugs\tags_sorted_by_file</a>
                    </td>
                    <td>
                    </td>
                    <td class="matches_meta">
                         6
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\tags">E:\Web projects\new_rugs\tags</a>
                    </td>
                    <td>
                    </td>
                    <td class="matches_meta">
                         6
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\templates\admin\products\index.html">E:\Web projects\new_rugs\templates\admin\products\index.html</a>
                    </td>
                    <td>
                        html
                    </td>
                    <td class="matches_meta">
                         4
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\TODO.txt">E:\Web projects\new_rugs\TODO.txt</a>
                    </td>
                    <td>
                        txt
                    </td>
                    <td class="matches_meta">
                         4
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\web\docs\TODO">E:\Web projects\new_rugs\web\docs\TODO</a>
                    </td>
                    <td>
                    </td>
                    <td class="matches_meta">
                         3
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\web\tests.py">E:\Web projects\new_rugs\web\tests.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         2
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\web\test_models.py">E:\Web projects\new_rugs\web\test_models.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         2
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\web\helpers.py">E:\Web projects\new_rugs\web\helpers.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         2
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\templates\admin\products\form.html">E:\Web projects\new_rugs\templates\admin\products\form.html</a>
                    </td>
                    <td>
                        html
                    </td>
                    <td class="matches_meta">
                         2
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\settings.py">E:\Web projects\new_rugs\settings.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         2
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\web\plugins.py">E:\Web projects\new_rugs\web\plugins.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         1
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\templates\admin\layout.html">E:\Web projects\new_rugs\templates\admin\layout.html</a>
                    </td>
                    <td>
                        html
                    </td>
                    <td class="matches_meta">
                         1
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\site.py">E:\Web projects\new_rugs\site.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         1
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\fuck.py">E:\Web projects\new_rugs\fuck.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         1
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\fcgi_server.py">E:\Web projects\new_rugs\fcgi_server.py</a>
                    </td>
                    <td>
                        py
                    </td>
                    <td class="matches_meta">
                         1
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr><tr>
                    <td>
                        <a href="sblm://E:\Web projects\new_rugs\.ropeproject\objectdb">E:\Web projects\new_rugs\.ropeproject\objectdb</a>
                    </td>
                    <td>
                    </td>
                    <td class="matches_meta">
                         1
                    </td>
                    <td class="matches_meta todo_list">
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>