  <html>
     <head><title>Sublime Text Community Packages</title></head>
     <body>
     <h1>Sublime Text Community Packages</h1>
     <p>This site helps you download <a href="http://www.sublimetext.com">Sublime Text</a> packages <a href="http://code.google.com/p/sublime-text-community-packages/">provided by the community:</a></p>
     <ul>
        %s
     </ul>
<!--      <p>This site must occasionally be refeshed. <a href="/sublime-packages/makeSublimePackages.py">Click here</a> to refresh the site. It was last refreshed at %s.</p>
 -->     </body>
  <html>