<html>
  <head><title>%s</title></head>
  <body>
  
  <h1>The %s Plugin</h1>
  
%s
  
<h2>To Install This Plugin</h2>

<ol>
<li>download the <a href="http://www.sublimetextwiki.com/sublime-packages/%s.sublime-package ">%s Plugin</a> to your local hard-drive.</li>
 <li>double-click the package file</li>
 <li>restart Sublime Text</li>
</ol>

<h2>For Developers</h2>

<ul>
<li>This source code for this plugin is available at <a href="http://sublime-text-community-packages.googlecode.com/svn/trunk/%s">google code.</a></li>
 <li>Google provide <a href="http://code.google.com/p/sublime-text-community-packages/source/checkout">Instructions for checking out the code</a></li>
</ul>

  <p><a href="../index.html">&laquo;Back to Home</a></p>
  </body>
</html>
